.spec-container{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
}

.Heading{
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: rgba(27, 60, 116, 1);
    padding: 50px 0px;
}

.line1{
    display: flex;
}
.line2{
    display: flex;
}

.spec-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    background-color: white;
    width: 270px;
    height: 180px;
    gap: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cards p{
    color:rgba(171, 182, 199, 1);
    margin: 10px;
}

.view-btn{
    background: rgba(42, 168, 255, 1);
    height: 50px;
    width: 150px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid  rgba(42, 168, 255, 1);
}

.btn{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}